@import "public";

.play{
 position: relative;
}
@keyframes jump {
  100% {
    top: 0.13333333rem;
  }
}
.egg-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: torem(50px);
  img{
    display: block;
    width: torem(180px);
    height: torem(247px);
    margin: 0 torem(35px);
    &:nth-child(2),&:nth-child(5),&:nth-child(8){
      margin-top: torem(60px);
    }
  }
  .jump {
    position: relative;
    -o-animation: jump 0.5s linear infinite alternate;
    -ms-animation: jump 0.5s linear infinite alternate;
    -moz-animation: jump 0.5s linear infinite alternate;
    -webkit-animation: jump 0.5s linear infinite alternate;
    animation: jump 0.5s linear infinite alternate;
  }
}



#hammer {
  position: absolute;
  left: torem(500px);
  top: 0;
  width: 1.46666667rem;
  height: 1.6rem;
  z-index: 5;
  -o-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -o-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

@keyframes hammer-move {
  100% {
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}

.shak {
  -o-animation: hammer-move 0.5s linear infinite alternate;
  -ms-animation: hammer-move 0.5s linear infinite alternate;
  -moz-animation: hammer-move 0.5s linear infinite alternate;
  -webkit-animation: hammer-move 0.5s linear infinite alternate;
  animation: hammer-move 0.5s linear infinite alternate;
}

@keyframes hammer-hit {
  100% {
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
}

.hit {
  -o-animation: hammer-hit 0.2s 3 alternate;
  -ms-animation: hammer-hit 0.2s 3 alternate;
  -moz-animation: hammer-hit 0.2s 3 alternate;
  -webkit-animation: hammer-hit 0.2s 3 alternate;
  animation: hammer-hit 0.2s 3 alternate;
}

